<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Xin chao <%= title %></p>
  </body>
</html>
<!-- INSERT INTO product_info(product_name,product_price) VALUES 
('CPU',4000),('Điện thoại',547665); -->